@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
body {
  font-family: 'Ubuntu', sans-serif;
}

body::before {
  content: '';
  margin-bottom: -500px;
  -webkit-box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
  background-image: url(../img/bg2.png);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 60vmax;
  position: absolute;
  top: 90px;
  left: 0;
  bottom: 0;
  right: 0;
}

@media screen and (max-width: 992px) {
  body::before {
    opacity: 0.6;
  }
}

.custom-nav {
  background-color: #8fb090 !important;
}

@media screen and (max-width: 992px) {
  .custom-nav {
    margin-left: -50px;
  }
}

.custom-nav .navbar-brand {
  margin-top: -7px;
  margin-left: 50px;
  font-weight: 500;
  font-size: 1.4em;
}

.custom-nav .navbar-nav {
  margin-right: 100px;
}

.custom-nav .navbar-nav .nav-link {
  text-align: center;
  margin-left: 2em;
  font-weight: 500;
  text-transform: uppercase;
}

.custom-nav .navbar-nav .nav-link:hover {
  color: #090807;
}

@media screen and (max-width: 992px) {
  .custom-nav .navbar-nav .nav-link {
    margin-right: 1.6em;
    text-transform: lowercase;
    font-size: 1.1em;
  }
  .custom-nav .navbar-nav .nav-link:hover {
    color: #ffcd91;
  }
}

.upper-content {
  margin-top: 10em;
  margin-top: 3em;
  margin-bottom: 2em;
}

.upper-content h2 {
  font-weight: 700;
  font-size: 4rem;
  color: #27221c;
  white-space: nowrap;
  line-height: 1;
}

.upper-content h3 {
  font-weight: 400;
  font-size: 1.5rem;
  color: #6578C4;
  white-space: nowrap;
  line-height: 1;
}

.upper-content p {
  font-size: 1rem;
  color: #212529;
  margin-top: 2em;
}

.upper-content a {
  margin-top: 2.2em;
  display: inline-block;
  color: white;
  background-color: #8fb090;
  border-radius: 2em;
  padding: 0.5em 2em;
  text-decoration: none;
  border: 1px solid transparent;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  font-weight: 500;
  margin-left: 100px;
}

.upper-content a:hover {
  color: #8fb090;
  border: 1px solid #8fb090;
  font-weight: 500;
  background-color: transparent;
}

@media screen and (max-width: 992px) {
  .upper-content {
    margin-top: 3em;
    text-align: center;
  }
  .upper-content h2, .upper-content h3, .upper-content p {
    text-shadow: 1px 1px 1px rgba(33, 37, 41, 0.3);
  }
  .upper-content h3 {
    color: #383f45;
  }
  .upper-content a {
    margin-left: -5px;
  }
}

@media screen and (max-width: 992px) {
  .upper-content h2, .upper-content h3 {
    font-size: 1.2em;
  }
}

.button .button-data {
  margin-bottom: 2em;
}

@media screen and (max-width: 992px) {
  .button .button-data a {
    margin-left: -50px;
  }
}

.button .button-data a {
  color: whitesmoke;
  text-decoration: none;
  margin-bottom: 3em;
  padding: 1em 2em;
  background-color: #8fb090;
  text-align: center;
  border-radius: 1em;
  font-weight: 400;
}

.button .button-data a:hover {
  color: #8fb090;
  border: 2px solid #8fb090;
  background-color: transparent;
}

.my-custom-scrollbar {
  position: relative;
  height: 500px;
  overflow: auto;
}

.table-wrapper-scroll-y {
  display: block;
}

.table {
  background-color: whitesmoke;
  -webkit-box-shadow: 0 3px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 20px rgba(0, 0, 0, 0.3);
  border-radius: 1.2em;
  margin-top: 25px;
}

.table .col {
  border-radius: 1.7em;
}
/*# sourceMappingURL=main.css.map */